@media screen and (max-width:768px) {
	.buttons-row .right {
		position: relative;
		top: -32px
	}
	.buttons-row .btn {
		font-size: 12px
	}
	.image-eatoo img {
		height: 80px;
		width: auto;
		position: relative;
		left: -30px
	}
	.image-eatoo {
		padding: 0;
		margin: 20px 0
	}
	.search-box h3.white {
		font-size: 16px;
		padding: 0;
		position: relative;
		left: -30px
	}
	.search-box .btn {
		height: 40px;
		min-width: 80px;
		padding: 10px 0;
		text-align: center;
		font-size: 10px
	}
	.glyphicon-menu-down {
		visibility: hidden;
		width: 0;
		height: 0
	}
	.search-box .btn.responsive-search-btn {
		visibility: visible;
		height: auto;
		min-width: 81%;
		margin-top: 10px;
		font-size: 16px;
		text-transform: uppercase
	}
	.search-page-container .search-box .location {
		max-width: 70%
	}
	.search-page-container .search-box img {
		height: 0;
		width: 0;
		visibility: hidden
	}
	.search-page-container .search-box {
		padding: 0 0 10px
	}
	.search-page-container .search-box .btn {
		font-size: 9px;
		min-width: 90px
	}
	#submit_search {
		visibility: visible;
		min-width: 93%;
		font-size: 16px;
		height: auto;
		text-transform: uppercase;
		margin-top: 10px
	}
}
@media screen and (width:768px) {
	.image-eatoo img {
		margin-top: 40px
	}
	.search-page-container .search-box img {
		height: 90px;
		width: 90px;
		visibility: visible;
		position: relative;
		top: 10px
	}
	.col-sm-5, .col-sm-7 {
		width: 50%
	}
	.book_type, .call_type, .map_type {
		font-size: 12px;
		padding: 4px 10px 0;
		height: 30px;
		line-height: 20px
	}
	.book_type {
		text-align: center;
		margin-right: 5px;
		margin-top: 10px
	}
	.type-card .food-picture {
		max-width: 65px;
		max-height: 65px
	}
	.type-card .top h3 {
		font-size: 18px
	}
	.rating-btn, .type-card .top p {
		font-size: 12px
	}
	.rating-btn:active, .rating-btn:focus, .rating-btn:hover {
		color: #fff;
		text-decoration: none
	}
	.buttons-row .right {
		position: relative;
		top: 0
	}
}
@media screen and (max-width:600px) {
	.buttons-row {
		visibility: hidden;
		height: 0
	}
	.image-eatoo img {
		height: 80px;
		width: auto
	}
	.image-eatoo {
		padding: 0;
		margin: 20px 0
	}
	.search-box h3.white {
		font-size: 16px;
		padding: 0
	}
	.search-box .btn {
		height: 40px;
		min-width: 80px;
		padding: 10px 0;
		text-align: center;
		font-size: 10px
	}
	.glyphicon-menu-down, .search-box .btn.responsive-search-btn, .search-page-container .eatoo-icon {
		height: 0;
		visibility: hidden
	}
	.glyphicon-menu-down {
		width: 0
	}
	.footer a {
		font-size: 11px
	}
	.footer .right a {
		font-size: 10px
	}
	.search-page-container .search-box .location {
		max-width: 70%
	}
	.search-page-container .search-box img {
		height: 0;
		width: 0;
		visibility: hidden
	}
	.search-page-container .search-box {
		padding: 0 0 10px
	}
	.search-page-container .search-box .btn {
		font-size: 9px;
		min-width: 90px
	}
	#submit_search {
		visibility: visible;
		min-width: 93%;
		font-size: 16px;
		height: auto;
		text-transform: uppercase;
		margin-top: 10px
	}
	.book_type, .call_type, .map_type {
		font-size: 12px;
		padding: 4px 10px 0;
		height: 30px;
		line-height: 20px
	}
	.book_type {
		text-align: center;
		margin-right: 5px;
		margin-top: 10px
	}
}
@media screen and (max-width:480px) {
	.buttons-row {
		visibility: hidden;
		height: 0
	}
	.image-eatoo img {
		height: 80px;
		width: auto
	}
	.image-eatoo {
		padding: 0;
		margin: 20px 0
	}
	.search-box h3.white {
		font-size: 16px;
		padding: 0
	}
	.search-box .btn {
		height: 40px;
		min-width: 80px;
		padding: 10px 0;
		text-align: center;
		font-size: 10px
	}
	.glyphicon-menu-down, .search-box .btn.responsive-search-btn, .search-page-container .eatoo-icon {
		height: 0;
		visibility: hidden
	}
	.glyphicon-menu-down {
		width: 0
	}
	.footer a {
		font-size: 11px
	}
	.footer .right a {
		font-size: 10px
	}
	.search-page-container .search-box img {
		height: 0;
		width: 0;
		visibility: hidden
	}
	.search-page-container .search-box {
		padding: 0 0 10px
	}
	.search-page-container .search-box .btn {
		font-size: 9px;
		min-width: 90px
	}
	.search-page-container .search-box .location {
		max-width: 66%
	}
	#submit_search {
		visibility: visible;
		min-width: 93%;
		font-size: 16px;
		height: auto;
		text-transform: uppercase;
		margin-top: 10px
	}
	.type-card .food-picture {
		max-width: 65px;
		max-height: 65px
	}
	.type-card .top h3 {
		font-size: 18px
	}
	.rating-btn, .type-card .top p {
		font-size: 12px
	}
	.rating-btn:active, .rating-btn:focus, .rating-btn:hover {
		color: #fff;
		text-decoration: none
	}
	.book_type, .call_type, .map_type {
		font-size: 12px;
		padding: 4px 10px 0;
		height: 30px;
		line-height: 20px
	}
	.book_type {
		text-align: center;
		margin-right: 5px;
		margin-top: 10px
	}
}
@media screen and (max-width:360px) {
	.buttons-row {
		visibility: hidden;
		height: 0
	}
	.image-eatoo img {
		height: 80px;
		width: auto
	}
	.image-eatoo {
		padding: 0;
		margin: 20px 0
	}
	.search-box h3.white {
		font-size: 16px;
		padding: 0
	}
	.search-box .btn {
		height: 40px;
		min-width: 80px;
		padding: 10px 0;
		text-align: center;
		font-size: 10px
	}
	.glyphicon-menu-down {
		visibility: hidden;
		width: 0;
		height: 0
	}
	.search-box .btn.responsive-search-btn {
		visibility: visible;
		height: auto;
		min-width: 93%;
		margin-top: 10px;
		font-size: 16px;
		text-transform: uppercase
	}
	.footer a {
		font-size: 11px
	}
	.footer .right a {
		font-size: 10px
	}
	.search-page-container .search-box img {
		height: 0;
		width: 0;
		visibility: hidden
	}
	.search-page-container .search-box {
		padding: 0 0 10px
	}
	.search-page-container .search-box .btn {
		font-size: 9px;
		min-width: 90px
	}
	#submit_search {
		min-width: 93%;
		font-size: 16px
	}
	.type-card .food-picture {
		max-width: 65px;
		max-height: 65px
	}
	.type-card .top h3 {
		font-size: 18px
	}
	.rating-btn, .type-card .top p {
		font-size: 12px
	}
	.rating-btn:active, .rating-btn:focus, .rating-btn:hover {
		color: #fff;
		text-decoration: none
	}
	.book_type, .call_type, .map_type {
		font-size: 12px;
		padding: 4px 10px 0;
		height: 30px;
		line-height: 20px
	}
	.book_type {
		min-width: 56%;
		text-align: center;
		margin-right: 5px;
		margin-top: 10px
	}
}