.footer i:hover, .notification-bar .fa-close {
	cursor: pointer
}
.notification-bar, .search-pg {
	visibility: hidden
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #282C35;
	overflow-x: hidden
}
.result-box::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	border-radius: 10px;
	background-color: #F5F5F5
}
.result-box::-webkit-scrollbar, body::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5
}
.result-box::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555
}
.left {
	text-align: left
}
.right {
	text-align: right
}
.buttons-row .btn, .center, .image-eatoo img, .map-overlay, .search-box .btn {
	text-align: center
}
.search-container .buttons-row {
	margin-top: 20px
}
.buttons-row .btn {
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: 0;
	border: none;
	vertical-align: baseline;
	background: #E0E1E2;
	color: rgba(0, 0, 0, .6);
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0 .25em 0 0;
	padding: .78571429em 1.5em;
	text-transform: none;
	text-shadow: none;
	line-height: 1em;
	font-style: normal;
	text-decoration: none;
	border-radius: .28571429rem;
	box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 #e7e7e7 inset;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	will-change: '';
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: background .1s ease 0s;
	transition: background .1s ease 0s
}
.buttons-row .btn-danger, .buttons-row .btn-info, .buttons-row .btn-success {
	color: #FFF;
	text-shadow: none;
	background-image: none
}
.buttons-row .btn-danger {
	background-color: #CB202D
}
.buttons-row .btn-success {
	background-color: #099E44
}
.buttons-row .btn-info {
	background-color: #33AEDC
}
.buttons-row .btn-default {
	color: rgba(0, 0, 0, .6)!important;
	font-weight: 400;
	border-radius: .28571429rem;
	text-transform: none;
	text-shadow: none!important;
	background-color: #e7e7e7;
	border: 1px solid #e7e7e7
}
.image-eatoo {
	margin: 5%;
}
.image-eatoo img {
	height: 128px;
	width: auto
}
.search-box .type {
	width: 160px;
	float: left
}
.search-box .location {
	max-width: 60%;
	float: left;
	margin-left: 7px
}
.search-box input {
	height: 40px;
	line-height: 20px;
	padding: 10px 0
}
.search-box input, .search-box input:active, .search-box input:focus, .search-box input:hover {
	outline: 0;
	border: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important
}
.search-box .btn {
	max-width: 20%;
	float: left;
	margin-left: 7px;
	background: #cb202d;
	color: #fff;
	height: 40px;
	line-height: 18px;
	font-weight: 400;
	border: none;
	border-radius: 4px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.footer img, .search-page-container .eatoo-icon {
	height: 60px
}
.search-container {
	margin: 0;
	padding: 0;
    width: 100%;
	background: url(/public/images/back_pizza.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.white {
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
	font-weight: 300!important
}
.footer a, .footer i {
	color: rgba(200, 200, 200, .75)
}
.bold, .type-card .top h3 {
	font-weight: bolder
}
.background-overlay {
    margin: 0;
    min-height: calc(100vh - 200px);
	background: rgba(0, 0, 0, .4);
	padding: 5px 40px 120px
}
.search-box input.location {
	background-image: url(/public/images/search.png);
	background-position: 10px 9px;
	background-repeat: no-repeat;
	background-size: 22px auto;
	background-color: #FFF;
	padding-left: 40px;
	padding-right: 10px
}
.dropdown-menu {
	margin: 40px 0 0 6px
}
.glyphicon-menu-down {
	margin-left: 3px
}
.search-box .btn.type:active, .search-box .btn.type:focus {
	background: #cb202d
}
.footer {
	padding: 20px 40px
}
.footer img {
	width: auto
}
hr {
	border-color: rgba(120, 120, 120, .5)
}
.footer i {
	font-size: 24px;
	margin-left: 10px;
	margin-top: 20px
}
.footer a {
	margin-right: 20px;
	text-decoration: none
}
.footer a:hover {
	color: #fff
}
.search-page-container {
	margin: 0;
	padding: 0;
    width: 100%;
    height: calc(100vh - 200px);
}
.search-page-container .search-box {
	width: 100%;
	padding: 10px 40px;
	margin: 0;
	background-color: #fff
}
.search-page-container .search-box .location {
	border: 1px solid rgba(120, 120, 120, .25)
}
.search-page-container .search-box .inline-block {
	margin-top: 10px
}
.type-card {
	padding: 20px;
	margin: 10px
}
.type-card .food-picture {
	height: 100px;
	width: 100px;
	margin: 0;
	padding: 0;
	background-image: url(/public/images/food.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover cover;
	border-radius: 5px
}
.book_type, .call_type {
	-webkit-transition: .2s;
	-o-transition: .2s;
	border-radius: 2px
}
.type-card .top h3, .type-card .top p {
	padding: 0;
	margin: 0
}
.type-card .top h3 {
	margin-right: 60px;
	color: #CB202D
}
.light {
	color: rgba(120, 120, 120, .75)
}
.lighter {
	color: #646464
}
.separator {
	width: 100%;
	margin: 5px 0;
	border-bottom: 1px solid rgba(120, 120, 120, .5)
}
.type-card .bottom p {
	margin: 0;
	padding: 2px 0
}
.book_type i, .call_type i, .map_type i {
	margin-right: 2px
}
.book_type, .call_type, .map_type {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	line-height: 40px;
	outline: 0;
	padding: 0 15px;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 400;
	margin-left: 10px
}
.call_type {
	transition: .2s;
	border: 1px solid #7323dc;
	background: 0 0;
	color: #7323dc
}
.call_type:active, .call_type:focus, .call_type:hover {
	text-decoration: none;
	border: 1px solid #7323dc;
	background: #7323dc;
	color: #fff
}
.book_type {
	transition: .2s;
	border: 1px solid #e62878;
	background: 0 0;
	color: #e62878
}
.book_type:active, .book_type:focus, .book_type:hover {
	text-decoration: none;
	border-color: #e62878;
	background: #e62878;
	color: #fff
}
.map_type {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	border-radius: 2px;
	border: 1px solid #3c3c3c;
	color: #3c3c3c;
	background: 0 0
}
.map_type:active, .map_type:focus, .map_type:hover {
	text-decoration: none;
	border-color: #3c3c3c;
	background: #3c3c3c;
	color: #fff
}
.rating-btn {
	float: right;
	background: #5BA829;
	border-color: #5BA829!important;
	padding: 4px 10px;
	color: #fff;
	border-radius: 4px
}
.rating-btn:hover {
	color: #fff;
	opacity: .75;
	text-decoration: none
}
.head-info {
	margin-left: 10px;
	font-size: 18px
}
.head-info span {
	font-weight: 700;
	font-size: 20px;
	margin-left: 3px
}
.result-box {
	height: 500px;
	overflow-y: auto
}
.result-row {
	background-color: #fff;
	padding: 10px 0 40px
}
.border-bottom-light {
	border-bottom: 1px solid rgba(120, 120, 120, .25)
}
#googleMap {
	width: 100%;
	height: 550px;
	margin: 20px 50px 0 0
}
.map-overlay {
	padding: 5px 10px;
	background-color: #7323DC;
	border-radius: 0 5px 0 0;
	color: #fff;
	width: 100px;
	position: relative;
	top: -30px;
	z-index: 99
}
.type-card .bottom p.light {
	font-size: 12px;
	padding-top: 5px
}
.some-padding {
	padding-top: 5px
}
#submit_search {
	min-width: 100px
}
#submit_search img {
	height: 20px;
	width: auto;
	opacity: .5
}
#phoneModal .modal-dialog {
	width: 350px
}
#phoneModal .modal-dialog p {
	font-size: 18px
}
#phoneModal .modal-dialog p.phone-number {
	color: #c91e29
}
#phoneModal .close {
	opacity: 1;
	margin-top: 3px;
	font-size: 30px
}
.notification-bar {
	position: fixed;
	bottom: 0;
	padding: 10px;
	background-color: #787878;
	color: #fff;
	width: 100%;
	margin: 0;
	z-index: 999;
	font-size: 16px
}
.empty img {
	margin-top: 80px;
	height: 100px;
	width: auto;
	margin-bottom: 30px
}
.empty p {
	font-size: 20px
}