<div class="container search-page-container">
		<div class="row search-box border-bottom-light">
		    <div class="col-sm-2">
		    	<img class="eatoo-icon" src="/public/images/eatoo_logo.png">
		    </div>
			<div class="col-sm-10">
				    <div class="inline-block">
				        <input type="hidden" name="type_sort" value="1">
					    <div class="dropdown">
						    <button class="btn btn-danger dropdown-toggle type" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span> Sort by Cost <span class="glyphicon glyphicon-menu-down"></span></button>
						    <ul class="dropdown-menu">
						      <li><a href="#" onclick="setSort(1);"><span class="glyphicon glyphicon-filter"></span> Sort by Price</a></li>
						      <li><a href="#" onclick="setSort(2);"><span class="glyphicon glyphicon-filter"></span> Sort by Rating</a></li>
						      <li><a href="#" onclick="setSort(3);"><span class="glyphicon glyphicon-filter"></span> Sort by Distance</a></li>
						    </ul>
						</div>
						<!--<input class="form-control type" type="text" name="type">-->
						<input type="hidden" name="location_name">
				        <input type="hidden" name="location_lat">
				        <input type="hidden" name="location_long">
						<input id="location_store" class="form-control location" type="text" name="location" placeholder="Type the location of the Restaurant">
						<a href="#" class="btn btn-danger" id="submit_search">Search</a>
					</div>
			</div>
		</div>
		<div class="row result-row">
			<div class="col-sm-5">
		        <h3 class="head-info">Showing Restaurants in <span>--</span></h3>
			    <div class="result-box">
					<div class="empty center">
						<img src="/public/images/sad.png">
						<p>Type location in order to <br>search Restaurants</p>
					</div>
				</div>
			</div>
			<div class="col-sm-7">
				<div id="googleMap"></div>
				<p class="map-overlay">eatoo</p>
			</div>
		</div>
</div>
<div class="footer">
	<div class="row">
		<div class="col-sm-6 left">
			<img src="/public/images/eatoo_logo.png">
		</div>
		<div class="col-sm-6 right">
			<i class="fa fa-facebook"></i>
			<i class="fa fa-twitter"></i>
			<i class="fa fa-google"></i>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-9 left">
		    <a href="#">About</a>
		    <a href="#">Careers</a>
		    <a href="#">Mobile Apps</a>
		    <a href="#">Business</a>
		    <a href="#">Developer</a>
		    <a href="#">Contact</a>
		</div>
		<div class="col-sm-3 right">
		    <a href="#">Eatoo &copy <script>document.write(new Date().getFullYear())</script></a>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="phoneModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body center">
        <p>Phone Number</p>
        <p class="phone-number"></p>
      </div>
    </div>
  </div>
</div>

<div class="row notification-bar">
	<div class="col-sm-8 center">
		Sorry, the restaurant doesn't have a <b>Table Booking</b>
	</div>
	<div class="col-sm-2 right">
		<i class="fa fa-close"></i>
	</div>
	<div class="col-sm-2"></div>
</div>